In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as matlab

In [2]:
dataset=pd.read_csv("preprocessed_data.csv")
dataset

,transaction_id,transaction_amount,location,merchant,age,gender,fraud_label
0,1,1000.0,New York,ABC Corp,35,M,0
1,2,500.0,Chicago,XYZ Inc,45,F,0
2,3,2000.0,Los Angeles,ABC Corp,28,M,1
3,4,1500.0,San Francisco,XYZ Inc,30,F,0
4,5,800.0,Chicago,ABC Corp,50,F,0
...,...,...,...,...,...,...,...
81,82,1500.0,Los Angeles,XYZ Inc,31,M,0
82,83,2800.0,San Francisco,ABC Corp,50,F,1
83,84,1350.0,Chicago,XYZ Inc,28,M,0
84,85,920.0,New York,ABC Corp,47,F,0
85,86,2000.0,Los Angeles,XYZ Inc,36,M,0

In [3]:
dataset=dataset.drop(['transaction_id'], axis= 1)

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,transaction_amount,age,fraud_label,location_Los Angeles,location_New York,location_San Francisco,merchant_XYZ Inc,gender_M
0,1000.0,35,0,0,1,0,0,1
1,500.0,45,0,0,0,0,1,0
2,2000.0,28,1,1,0,0,0,1
3,1500.0,30,0,0,0,1,1,0
4,800.0,50,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
81,1500.0,31,0,1,0,0,1,1
82,2800.0,50,1,0,0,1,0,0
83,1350.0,28,0,0,0,0,1,1
84,920.0,47,0,0,1,0,0,0
85,2000.0,36,0,1,0,0,1,1

In [5]:
dataset.columns

Index(['transaction_amount', 'age', 'fraud_label', 'location_Los Angeles',
       'location_New York', 'location_San Francisco', 'merchant_XYZ Inc',
       'gender_M'],
      dtype='object')

In [6]:
dataset["fraud_label"].value_counts()

0    70
1    16
Name: fraud_label, dtype: int64

In [7]:
independent=dataset.drop(['fraud_label'], axis= 1)
independent

,transaction_amount,age,location_Los Angeles,location_New York,location_San Francisco,merchant_XYZ Inc,gender_M
0,1000.0,35,0,1,0,0,1
1,500.0,45,0,0,0,1,0
2,2000.0,28,1,0,0,0,1
3,1500.0,30,0,0,1,1,0
4,800.0,50,0,0,0,0,0
...,...,...,...,...,...,...,...
81,1500.0,31,1,0,0,1,1
82,2800.0,50,0,0,1,0,0
83,1350.0,28,0,0,0,1,1
84,920.0,47,0,1,0,0,0
85,2000.0,36,1,0,0,1,1

In [8]:
dependent=dataset[["fraud_label"]]
dependent

    fraud_label
0             0
1             0
2             1
3             0
4             0
..          ...
81            0
82            1
83            0
84            0
85            0

[86 rows x 1 columns]

In [9]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=1,scoring='f1_weighted') 
grid.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

Fitting 3 folds for each of 12 candidates, totalling 36 fits
[CV] criterion=gini, max_features=auto, splitter=best ................
[CV]  criterion=gini, max_features=auto, splitter=best, score=0.829, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=best ................
[CV]  criterion=gini, max_features=auto, splitter=best, score=0.895, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=best ................
[CV]  criterion=gini, max_features=auto, splitter=best, score=0.895, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=random ..............
[CV]  criterion=gini, max_features=auto, splitter=random, score=0.943, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=random ..............
[CV]  criterion=gini, max_features=auto, splitter=random, score=0.943, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=random ..............
[CV]  criterion=gini, max_features=auto, splitter=random, score=0.895, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=best ................
[CV]  criterion=gini, max_features=sqrt, splitter=best, score=0.872, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=best ................
[CV]  criterion=gini, max_features=sqrt, splitter=best, score=1.000, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=best ................
[CV]  criterion=gini, max_features=sqrt, splitter=best, score=0.895, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=random ..............
[CV]  criterion=gini, max_features=sqrt, splitter=random, score=0.872, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=random ..............
[CV]  criterion=gini, max_features=sqrt, splitter=random, score=0.895, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=random ..............
[CV]  criterion=gini, max_features=sqrt, splitter=random, score=0.851, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=best ................
[CV]  criterion=gini, max_features=log2, splitter=best, score=0.943, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=best ................
[CV]  criterion=gini, max_features=log2, splitter=best, score=1.000, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=best ................
[CV]  criterion=gini, max_features=log2, splitter=best, score=0.895, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=random ..............
[CV]  criterion=gini, max_features=log2, splitter=random, score=0.943, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=random ..............
[CV]  criterion=gini, max_features=log2, splitter=random, score=1.000, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=random ..............
[CV]  criterion=gini, max_features=log2, splitter=random, score=0.789, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=best .............
[CV]  criterion=entropy, max_features=auto, splitter=best, score=0.943, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=best .............
[CV]  criterion=entropy, max_features=auto, splitter=best, score=1.000, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=best .............
[CV]  criterion=entropy, max_features=auto, splitter=best, score=0.789, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=random ...........
[CV]  criterion=entropy, max_features=auto, splitter=random, score=0.872, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=random ...........
[CV]  criterion=entropy, max_features=auto, splitter=random, score=0.943, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=random ...........
[CV]  criterion=entropy, max_features=auto, splitter=random, score=0.829, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=best .............
[CV]  criterion=entropy, max_features=sqrt, splitter=best, score=0.829, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=best .............
[CV]  criterion=entropy, max_features=sqrt, splitter=best, score=1.000, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=best .............
[CV]  criterion=entropy, max_features=sqrt, splitter=best, score=0.895, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=random ...........
[CV]  criterion=entropy, max_features=sqrt, splitter=random, score=0.751, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=random ...........
[CV]  criterion=entropy, max_features=sqrt, splitter=random, score=1.000, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=random ...........
[CV]  criterion=entropy, max_features=sqrt, splitter=random, score=0.904, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=best .............
[CV]  criterion=entropy, max_features=log2, splitter=best, score=0.943, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=best .............
[CV]  criterion=entropy, max_features=log2, splitter=best, score=1.000, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=best .............
[CV]  criterion=entropy, max_features=log2, splitter=best, score=0.895, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=random ...........
[CV]  criterion=entropy, max_features=log2, splitter=random, score=0.943, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=random ...........
[CV]  criterion=entropy, max_features=log2, splitter=random, score=0.872, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=random ...........
[CV]  criterion=entropy, max_features=log2, splitter=random, score=0.851, total=   0.0s

[Parallel(n_jobs=1)]: Done  31 tasks      | elapsed:    0.2s

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [13]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [14]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test) 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, grid_predictions)

In [15]:
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, grid_predictions)

In [16]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010001,6.377240e-03,0.003998,9.199649e-07,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.828708,0.894737,0.894737,0.872727,0.031126,11
1,0.015001,1.485576e-02,0.003331,9.431913e-04,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.942903,0.942903,0.894737,0.926847,0.022706,3
2,0.005668,4.718200e-04,0.002997,1.106929e-06,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.871517,1.000000,0.894737,0.922085,0.055904,4
3,0.004001,9.989584e-07,0.002333,4.721011e-04,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.871517,0.894737,0.850837,0.872364,0.017932,12
4,0.004333,4.700217e-04,0.005334,4.028936e-03,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.942903,1.000000,0.894737,0.945880,0.043025,1
5,0.006000,3.557786e-03,0.003669,4.721021e-04,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.942903,1.000000,0.789474,0.910792,0.088896,5
6,0.004668,4.736780e-04,0.002665,4.707632e-04,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.942903,1.000000,0.789474,0.910792,0.088896,5
7,0.004333,4.728881e-04,0.002666,4.711456e-04,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.871517,0.942903,0.828708,0.881043,0.047104,10
8,0.005001,8.177030e-04,0.002333,4.713142e-04,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.828708,1.000000,0.894737,0.907815,0.070538,7
9,0.005333,4.721010e-04,0.002334,4.717645e-04,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.751395,1.000000,0.904386,0.885260,0.102390,9
10,0.004333,4.715952e-04,0.002334,4.723258e-04,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.942903,1.000000,0.894737,0.945880,0.043025,1
11,0.005001,8.179965e-04,0.003000,8.171189e-04,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.942903,0.871517,0.850837,0.888419,0.039440,8

In [19]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}: 0.8937223695844384

In [20]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[21  1]
 [ 2  5]]

In [21]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.91      0.95      0.93        22
           1       0.83      0.71      0.77         7

    accuracy                           0.90        29
   macro avg       0.87      0.83      0.85        29
weighted avg       0.89      0.90      0.89        29

In [22]:
from sklearn.metrics import roc_auc_score

roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.8344155844155845